<html>
  <head>
    <title></title>
    <meta content="">
    <script src="https://unpkg.com/vue@next"></script>
    <style></style>
  </head>

  <body>
    <div id="app">

      <h2>welcome to todo manager</h2>
      <div>
        <input type="text" id="" v-model="tempNewGoal" placeholder="new Goal"><button @click="AddGoal">Add Goal</button>
        <div v-for="goal in goals">
          <task-card :text = "goal" depth ="" @delete-me="DeleteSubGoal"></task-card>
        </div>
      </div>

    </div>

    <!--import app-->
    <script src = "script.js"></script>
    <!--import components-->
    <script src = "./componets/task-card.js"></script>
    <script src = "./componets/add-task.js"></script>
    <!--mount app-->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
