<html>
  <head>
    <title></title>
    <meta content="">
    <script src="https://unpkg.com/vue@next"></script>
    <style></style>
  </head>

  <body>
    <div id="app">
      <h2>welcome to todo maneger</h2>
      <ol>
        <li v-for="task in list" >{{task}} <button @click="RemoveTask" :name="task">x</button></li>
      </ol>
      <input type="text" id="" v-model="tempTask" placeholder="new task"> <button @click="AddTask" >Add task</button>
    </div>

    <!--import app-->
    <script src = "script.js"></script>
    <!--import components-->
    <script src = "./componets/counter.js"></script>
    <!--mount app-->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>